MONGO_URL=mongodb://file_mongo:27017
MONGO_DB=filedb
MINIO_ENDPOINT=file-minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=intern-assets
MINIO_SECURE=false
AUTH_API_URL=http://host.docker.internal:8008/api/v1
CORE_API_URL=http://host.docker.internal:8000/api/v1
